@import 'base/vars';
@import 'base/mixins';

* {
   box-sizing: inherit;
    &:before, &:after {
        box-sizing: inherit;
    }
}

body {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-width: 320px;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #2B3648;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

p {
    line-height: 22px;
}

a {
    color: inherit;
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input {
    outline: none;
}

textarea {
    resize: none;
}

.container {
    max-width: 1360px;
    padding: 0 20px;
    margin: 0 auto;
    &--small {
        max-width: 1320px;
    }
}

.video {
    margin-top: 80px;
}

.rate {
    cursor: pointer;
}

.input {
    border: 1px solid #ADAEAD;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding: 14px 31px;
    font-size: 15px;
    line-height: 18px;
    color: #A5A2A5;
}

.counter-input {
    padding: 14px 25px;
    text-align: center;
}

.card {
    &__title {
        min-height: 57px;
        font-size: 16px;
        line-height: 19px;
        color: #0054A4;
    }
}

.sale {
    position: relative;
    font-size: 18px;
    line-height: 22px;
    color: #EF3E42;
    padding-left: 29px;
    display: block;
    margin-bottom: 19px;
    span {
        border-bottom: 1px solid #EF3E42;
    }
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background-image: url('../icons/red-bell.png');
        width: 19px;
        height: 17px;
    }
    &:hover {
        color: #EF3E42; 
    }
}

@import 'blocks/section';
@import 'blocks/buttons';
@import 'blocks/modals';
@import 'blocks/product-card';
@import 'blocks/header';
@import 'blocks/basket';
@import 'blocks/banner-slider';
@import 'blocks/products';
@import 'blocks/banners';
@import 'blocks/catalog';
@import 'blocks/certificates';
@import 'blocks/news';
@import 'blocks/slider';
@import 'blocks/footer';
@import 'blocks/catalog-page';
@import 'blocks/product-page';
@import 'blocks/brand-page';
@import 'blocks/breadcrumbs';
@import 'blocks/pagination';
@import 'blocks/filter';
@import 'blocks/dropzone';

@import 'base/media';