.products {
    &__tab {
        margin-right: 39px;
        &:last-child {
            margin-right: 0;
        }
    }
    &__slider {
        position: relative;
        //width: 1280px;
        padding-top: 30px;
    }
    &__slider-btn {
        @include centerY;
        &--prev {
            left: 2px;
        }
        &--next {
            right: 2px;
        }
    }
}

.tab {
    font-size: 22px;
    line-height: 26px;
}
.section__title.tab {
    color: #B2B9C1;
    border-bottom: none;
}
.section__title.tab--active {
    color: #000000;
    border-bottom: 3px solid $red;
}


.product {
    &__card {
        position: relative;
        width: 226px;
        min-height: 444px;
        padding: 29px 9px 10px;
        border: 1px solid #DEE0DD;
        border-radius: 4px;
        cursor: pointer;
        margin: 0 19px;
        &:before {
            position: absolute;
            top: 8px;
            left: 9px;
            padding: 3px 9px;
            font-size: 13px;
            font-weight: 700;
            line-height: 16px;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
        }
        &--new {
            &:before {
                content: 'НОВИНКА';
                background: $green;
            }
        }
        &--bestseller {
            &:before {
                content: 'ХИТ';
                background: $red;
            } 
        }
        &--reviews {
            .product__name {
                min-height: 54px;
            }
            .product__rate {
                display: flex;
            }
        }
    }
    &__img {
        display: block;
        width: 210px;
        max-width: 100%;
        object-fit: contain;
        margin-bottom: 18px;
    }
    &__category {
        min-height: 28px;
        font-size: 12px;
        line-height: 14px;
        color: #617087;
        transition: .3s all;
        &:hover {
            color: $main-blue;
        }
    }
    &__name {
        display: block;
        min-height: 72px;
        font-size: 15px;
        line-height: 18px;
        color: #2B3648;
        margin: 6px 0 22px;
        transition: .3s all;
        &:hover {
            color: $main-blue;
        }
    }
    &__rate {
        display: none;
        align-items: center;
        margin-top: 2px;
        span {
            display: block;
            font-size: 12px;
            line-height: 14px;
            color: #617087;
            margin-left: 11px;
        }
    }
    &__price {
        font-weight: bold;
        font-size: 22px;
        line-height: 26px;
        color: #2B3648;
        //margin-top: 22px;
        &--old {
            font-size: 18px;
            line-height: 22px;
            text-decoration-line: line-through;
            color: #617087;
            margin-top: -22px;
        }
        &--new {
            color: $red;
            margin-top: 0;
        }
    }
    &__request {
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: #617087;
    }
    &__btn {
        width: 100%;
        height: 42px;
        margin-top: 13px;
    }
}

.jq-ry-container {
    padding: 0;
}

.tabs__content {
    display: none;
    &--active {
        display: block;
    }
}